body {
    background-image: url('../images/bg2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover; 
}
.bg-translucent {
    background-color: rgba(220, 255, 220, 0.8); 
}

.tabs{
   width : 40%;
}

.tab-button {
background-color: rgba(255, 255, 255, 0.4); 
border-radius: 0.75rem 0.75rem 0 0; /* Optional: rounded corners */
border-bottom-width: 2px;

}
.tab-button.active {
background-color: rgba(230, 255, 230, 0.8);  /* Background color for active tab */
z-index: 1; /* Ensure the active tab is on top */
}

.tab-container{
    border-radius: 0 0.75rem 0.75rem 0.75rem;
}

.tab-content{
flex: 1;
    padding: 20px;
    height: 500px; 
    overflow-y: auto; 
}

input::placeholder {
    font-weight: bold;
    font-size: 20px;
    opacity: 1 !important;
  }
  
  textarea::placeholder {
    font-weight: bold;
    font-size: 20px;
    opacity: 1 !important;
  }