.rating-bar {
    background-color: #f3f4f6;
    border-radius: 5px;
    overflow: hidden;
    height: 15px;
    width: 100%;
}
.rating-fill {
    height: 100%;
    background-color: #C4A484;
}
.rating-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.rating-text {
    width: 10%;
}
.rating-percentage {
    margin-left: 10px;
}