.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
  }


  .form-container .btn {
    background-color: blue;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .add_new{
    padding: 10px 20px;
    color: white;
    background-color: #B99470;
    float: right;
    margin-right: 35px;
    margin-bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width:150px

  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 0;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  @media (max-width: 576px) {
    .form-container {
        width: 100%;
    }
}


